@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #020617;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
}

* {
  box-sizing: border-box;
}